.cart {
  margin: auto;
  width: 625px;
}
.cart-list {
  background: #d3d3d3;
  padding: 40px;
}
.cart-item {
  padding: 15px;
  background: #eee;
  display: flex;
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.cart-summery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart-total-price {
  width: 100%;
}
.cart .remove-all-from-cart,
.cart .check-out {
  width: calc(50% - 60px);
  max-width: unset;
}
.cart h2 {
  width: 100%;
}
.cart h3 {
  width: 100px;
}
.cart ul {
  width: 30%;
  margin-top: 20px;
}
.cart li {
  text-transform: capitalize;
}
.cart .amount {
  margin-top: 15px;
}
.cart .remove-from-cart {
  position: absolute;
  bottom: 0;
  right: 15px;
}

.PDP-wrapper #PDP-select {
  display: flex;
  flex-direction: column;
}
.PDP-wrapper #message {
  position: absolute;
  bottom: 120px;
}
.PDP-wrapper #message.error {
  color: red;
}
.PDP-wrapper #message.success {
  color: green;
}
.PDP-wrapper .add-to-cart {
  position: absolute;
  bottom: 30px;
}

.PLP {
  display: flex;
  flex-wrap: wrap;
}
.PLP .product-tile {
  margin: 15px;
  padding: 15px;
  background: #999;
  width: 100%;
  max-width: 370px;
}

#popup {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}
#popup.open {
  display: block;
}
#popup .popup-wrapper {
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 650px;
  height: 70%;
  min-height: 670px;
}
#popup .popup-close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  border: none;
  background: #f5f5f5;
  border-radius: 20px;
  z-index: 3;
  cursor: pointer;
}
#popup .popup-close::before, #popup .popup-close::after {
  content: "";
  position: absolute;
  background-color: #666;
  width: 1px;
  height: 12px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: 50% 50%;
}
#popup .popup-close::before {
  transform: rotate(45deg);
}
#popup .popup-close::after {
  transform: rotate(-45deg);
}
#popup .popup-content {
  padding: 60px 45px 45px;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.button-black {
  border: 1px solid black;
  height: 50px;
  padding: 0px 25px;
  display: flex;
  align-items: center;
  background: #222;
  color: #fff;
  max-width: 160px;
  justify-content: center;
}
.button-black:hover {
  background: #666;
}

.button-white {
  border: 1px solid black;
  height: 50px;
  padding: 0px 25px;
  display: flex;
  align-items: center;
  background: #fff;
  color: #000;
  max-width: 160px;
  justify-content: center;
}
.button-white:hover {
  background: #666;
}

label {
  font-weight: 600;
}

select {
  width: 120px;
  height: 30px;
  margin: 5px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}
.nav-link {
  font-size: 24px;
  text-decoration: none;
  color: black;
  position: relative;
  margin-right: 15px;
}
.nav #items-in-cart {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 12px;
  background: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  border-radius: 7px;
}
.nav #items-in-cart.empty {
  display: none;
}

/*# sourceMappingURL=style.css.map */
