.cart {
    margin: auto;
    width: 625px;

    &-list {
        background: #d3d3d3;
        padding: 40px;
    }

    &-item {
        padding: 15px;
        background: #eee;
        display: flex;
        margin: 15px 0;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    &-summery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-total-price {
        width: 100%;
    }

    .remove-all-from-cart,
    .check-out {
        width: calc(50% - 60px);
        max-width: unset;
    }

    h2 {
        width: 100%;
    }

    h3 {
        width: 100px;
    }

    ul {
        width: 30%;
        margin-top: 20px;
    }

    li {
        text-transform: capitalize;
    }

    .amount {
        margin-top: 15px;
    }

    .remove-from-cart {
        position: absolute;
        bottom: 0;
        right: 15px;
    }
}
