@import "cart.scss";
@import "PDP.scss";
@import "PLP.scss";
@import "popup.scss";

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.button-black {
    border: 1px solid black;
    height: 50px;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    background: #222;
    color: #fff;
    max-width: 160px;
    justify-content: center;

    &:hover {
        background: #666;
    }
}

.button-white {
    border: 1px solid black;
    height: 50px;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    background: #fff;
    color: #000;
    max-width: 160px;
    justify-content: center;

    &:hover {
        background: #666;
    }
}

label {
    font-weight: 600;
}

select {
    width: 120px;
    height: 30px;
    margin: 5px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;

    &-link {
        font-size: 24px;
        text-decoration: none;
        color: black;
        position: relative;
        margin-right: 15px;
    }

    #items-in-cart {
        position: absolute;
        top: -3px;
        right: -10px;
        font-size: 12px;
        background: #bbb;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14px;
        height: 14px;
        border-radius: 7px;

        &.empty {
            display: none;
        }
    }
}