.PDP-wrapper {
    #PDP-select {
        display: flex;
        flex-direction: column;
        

    }
    #message {
        position: absolute;
        bottom: 120px;

        &.error {
            color: red;
        }
        &.success {
            color: green;
        }
    }
    .add-to-cart {
        position: absolute;
        bottom: 30px;
    }
}
