#popup {
    position: absolute;
    background: rgba(#000000, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;

    &.open {
        display: block;
    }

    .popup-wrapper {
        background: #fff;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        max-width: 650px;
        height: 70%;
        min-height: 670px;
    }

    .popup-close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 30px;
        height: 30px;
        border: none;
        background: #f5f5f5;
        border-radius: 20px;
        z-index: 3;
        cursor: pointer;

        &::before, &::after {
            content: '';
            position: absolute;
            background-color: #666;
            width: 1px;
            height: 12px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transform-origin: 50% 50%;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
    
    .popup-content {
        padding: 60px 45px 45px;
        height: 100%;
    }
}